body {
  margin: 0;
  background-color: #00A5DE;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.data {
  width: 100%;
  height: 40px;
  border-bottom: solid 4px #F4A900;
  background-color: #00A5DE;
  line-height: 40px;
  text-align: right;
}

.menu {
  width: 100%;
  height: 72px;
  border-bottom: solid 4px #F4A900;
  background-color: #ECECEC;
  line-height: 72px;
  padding: 0;
}

.dadosCliente {
  width: 100%;
  height: 40px;
  border-bottom: solid 4px #F4A900;
  background-color: #00A5DE;
  line-height: 40px;
}

.nameClient {
  position: relative;
  float: left;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 20px;
}

.labelNameClient {
  position: relative;
  float: left;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 10px;
}

.cpfClient {
  position: relative;
  float: right;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 30  px;
}

.labelCPFClient {
  position: relative;
  float: right;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 10px;
}

.accountClient {
  position: relative;
  float: right;
  font-weight: normal;
  margin-left: 0px;
  margin-right: 30px;
}

.labelAccountClient {
  position: relative;
  float: right;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  width: 100%;
  padding: 15px;
}

.itemMenu {
  width: 146px;
  height: 72px;
  position: relative;
  float: left;
  border-right: solid 2px #F4A900;
  text-align: center;
}

.inputAccountNumber {
   width:200px;
   height: 21px;
}

.name {
  margin: 10px 0px 5px 0px;
}

.showedName {
   margin: 23px 0px 0px 0px; /* top rigth bottom left */
}

.showedAddress {
   margin: 18px 0px 0px 0px; /* top rigth bottom left */
}

.showedPhone {
   margin: 18px 0px 0px 0px; /* top rigth bottom left */
}

.showedCPF {
   margin: 18px 0px 0px 0px; /* top rigth bottom left */
}

.showedAccount {
   margin: 18px 0px 0px 0px; /* top rigth bottom left */
}

.inputName {
  width: 340px;
  height: 20px;
  margin-left: 20px;
}

.address {
  margin: 10px 0px 5px 0px;
}

.inputAddress {
  width: 338px;
  height: 20px;
  margin-left: 0px;
}

.phone {
  margin: 10px 0px 5px 0px;
}

.inputPhone {
  width: 337px;
  height: 20px;
  margin-left: 5px;
}

.cpf {
  margin: 10px 0px 5px 0px;
}

.inputCPF {
  width: 336px;
  height: 20px;
  margin-left: 32px;
}

.account {
   margin: 10px 0px 5px 0px;
   font-weight: bold
}

.buttonOK {
   width: 100px;
   height: 30px;
   margin-top: 15px;
   margin-right: 5px;
}

.buttonCreateAccount {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.buttonClear {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.depositedValue {
  margin-top: 10px;
  font-weight: normal;
  color: red;
}

.withdrawaledValue {
   margin-top: 10px;
   font-weight: normal;
   color: red;
}

.wantedAccount {
   margin-top: 10px;
   font-weight: normal;
   color: #FF0000;
}

.valueTransfer {
   margin-top: 10px;
}

.findedAccount {
   font-weight: normal;
   color: #000000;
   background-color: #FFFFFF;
   border-bottom: solid 4px #F4A900;
   width: 400px;
   font-size: 20px;
   height: 45px;
   padding: 5px;
}

.buttonBalance {
  width: 120px;
  height: 30px;
}

.buttonExtract {
   width: 120px;
   height: 30px;
}

.buttonTransfer {
   width: 80px;
   height: 27px;
}

.inputDestinyAccount {
   width: 206px;
   height: 21px;
}

.inputTransferValue {
   width: 278px;
   height: 21px;
}

.errorBalance {
   margin: 20px 0px 0px 0px;
   color: red;
   font-weight: normal;
}

.labelExtract {
   text-align: left;
   font-weight: bold;
   font-size: 20px;
}

.lineExtract {
   background-color: #FFFFFF;
   border-bottom: solid 2px #F4A900;
}

.lineLabelExtract {
   background-color: #FFFFFF;
   border-bottom: solid 2px #F4A900;
   font-weight: bold;
   margin-bottom: 2px;
}

.lineBalanceExtract {
   background-color: #FFFFFF;
   border-bottom: solid 4px #F4A900;
   font-weight: bold;
   margin-top: 2px;
}

.dataExtract {
   width: 132px;
   font-size: 20px;
}

.errorExtract {
   margin: 20px 0px 0px 0px;
   color: red;
   font-weight: bold;
}

.accountNumber {
}

.inputConta {
  width: 200px;
  height: 20px;
  margin-left: 5px;
}

.inputDeposit {
  width: 180px;
  height: 21px;
  margin-left: 5px;
}

.inputWithdrawal {
  width: 206px;
  height: 21px;
  margin-left: 5px;
}

.buttonAccess {
  width: 80px;
  height: 27px;
}

.buttonDeposit {
  width: 80px;
  height: 27px;
}

.buttonWithdrawal {
  width: 80px;
  height: 27px;
}

.numeroContaCriado {
  margin-top: 10px;
  color: #FF0000;
  display:none;
  font-weight: bold;
  font-size: 20px;
}

.titleBalance {
   font-weight: bold;
   font-size: 20px;
   width: 410px;
   text-align: left;
   background-color: #FFFFFF;
   border-bottom: solid 2px #F4A900;
}

.balance {
   margin-top: 2px;
   font-size: 20px;
   font-weight: normal;
   background-color: #FFFFFF;
   width: 410px;
   border-bottom: solid 4px #F4A900;
}

.dateBalance {
   text-align: left;
}

.valueBalance {
   text-align: right;
}

.oculto {
   display: none;
}

.errorMessages {
   margin: 20px 0px 0px 0px;
   color: red;
   font-weight: bold;
}

.errorMessagesAccount {
   color: red;
   margin-top: 15px;
   font-weight: bold;
}
